body{
    background-color: bisque;
    background-image: url("monk-1782432_1280.jpg");
    /* background-image: url("positive.webp"); */
     background-repeat: no-repeat;
    /* background-repeat: no-repeat;
    background-repeat:repeat-x; */
    /* background-repeat: repeat-x; */
    background-attachment: fixed;
    background-size: 100% 100%;
      background-size: contain;
      background-size: cover;
      background-size: 50%;
      background-position: right;
      background:linear-gradient(to left,red,yellow,green,blue);
       background:linear-gradient(45deg,red,yellow);
       background:radial-gradient(circle,red,yellow);
       /* background:radial-gradient(ellipse at top left, red,black); */

      
      
}