p{
    text-align:justify;
    text-indent: 50px;
    /* text-decoration: overline;
    text-decoration: underline;
    text-decoration: line-through; */
    /* text-transform: capitalize;
    letter-spacing:5px;
    word-spacing:10px;
    line-height:3; */


    /* font-family: serif;
    font-style:oblique;
    font-size:10px; */
    /* lighter bolder 100-900 bold normal */
    /* font-weight: 700;  */
     font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;

}
a{
    text-decoration: none;
}